<manifest ...>
  ...
  <application
      android:name=".MainApplication"
      ...>

      <activity
          android:name=".MainActivity"
          ...>
      </activity>

      <service
          android:name="com.reactnativeandroidwidget.RNWidgetCollectionService"
          ... />

      <receiver
          android:name=".widget.Hello"
          android:exported="false"
          android:label="My Hello Widget">
          <intent-filter>
              <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
              <action android:name="com.yourapppackage.WIDGET_CLICK" />
          </intent-filter>
          <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widgetprovider_hello" />
      </receiver>
  </application>
</manifest>